@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200&family=Martian+Mono&family=Open+Sans&family=PT+Sans&family=Roboto:wght@500&family=Varela+Round&family=Work+Sans:wght@300&display=swap');
.navbar-brand{
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: black;
}
p{
    color: gray;
}

.carousel-caption  h1{
    font-size: 70px;
    font-weight: bolder;
    color: darkgreen;
}

.carousel-caption p{
    color: darkgreen;
    font-weight: bold;
}

.second h1{
    font-size: 70px;
    font-weight: bolder;
    color: darkgreen;
}

.second p{
    margin-top: 40px;
    margin-bottom: 50px;
    color: darkgreen;
    font-weight: bold;
}

.carousel-caption h2{
    font-family: 'Work Sans', sans-serif;
}

.fa-solid{
    margin-bottom: 40px;
    color:darkgreen;
}

.fa-solid {
    font-weight: bolder;

}

.emergency h2{
    font-weight: bolder;
}
.call-us h4{
    color: darkgreen;
    font-weight: bolder;
    font-size: 30px;
    font-family:'Work Sans', sans-serif;
    position: relative;
    bottom: 10px;
}

.call-us a{
    color: darkgreen;
}

.details h1{
    margin-bottom: 35px;
}

.heading h1{
    margin-right: 80px;
    margin-top: 80px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.heading p{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 80px;


}



.p-2 h1{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: skyblue;
    bottom: 95px;
    left: 50px;
}


.p-2 p{
    position: relative;
    bottom: 130px;
}

.healthservices h1{
    font-weight: bolder;
}

.top h5{
    position: relative;
    top: 15px;

}

.bottom p{
    position: relative;
    left:100px;
}

.thirdcontainer{
    margin-top: 100px;
    background-color: antiquewhite;
}

.title h1{
    color:blue;
}

.title p{
    width: 600px;
    margin-top: 15px;
}

.first{
    width: 200px;
}

.first h5{
    margin-top: 10px;
    margin-bottom: 30px;
}

.down{
    margin-top: 40px;
}

.fourthcontainer{
    margin-top: 150px;
}

.fifthcontainer{
    margin-top: 150px;
    background-color: #E4EFEF;

}

.siu{
    background-color: white;
}
.appointments{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.leftborder{
    border-left: 5px solid blue;
}

.Details h1{
    font-weight: bold;
}


/* Mobile-first styles (default) */
/* Styles for screens with a maximum width of 768px (tablets) */
@media (max-width: 768px) {

    .carousel-caption{
        width: 80vw;
        height: 80vh;
        margin: auto;
    }

    .carousel-caption h1{
        font-size: 40px;
    }

    .second h1{
        font-size: 35px;
    }

    .second p{
        margin-top: 0;
    }
    .p-2{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .patients{
        position: relative;
        left: 40px;
    }
    .position-relative{
        left: 8px;
    }

    .ContactUs{
        width: 500px;
    }

    .Address{
        width: 200px;
    }

    .pic{
        margin-left: 50px;
    }

    .rai{
        word-break: break-word;
        margin-left: 46px;
    }

    .nu{
        margin-left: 98px;
    }

    .eme{
        padding-left:30px;
    }

    .phno{
        margin-left: 92px;
    }

  }
  
  
  